$white: #ffffff;
$blue: #3C37FF;
$grey: #92949E;
$black: #222222;
$red: #DB3927;
$green: #50C878;
$lightGrey: #E9E9ED;
$purple: #8956FF;

$alertSuccessBackground: rgba(232, 249, 241, .6);
$alertSuccessBorder: #B5EEBF;
$alertSuccessText: #01C205;
$alertErrorBackground: rgba(250, 238, 238, .6);
$alertErrorBorder: #FEBBBE;
$alertErrorText: #FF0000;

$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$heightHeader: 60px;
$heightAudioPlayer: 100px;